#image {
    margin-right: 20px;
    height: 250px;
}

.card-image {
    height: 250px;
    width: 538px;
}

p, label{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 25px;
}

a, h1, h5{
    font-family: 'Prata', serif;
font-family: 'Press Start 2P', cursive;
}

h1 {
    color: #5ac569;
}
