body {
    background-image: url(./Images/Festive-Background.jpg);
}

#image {
    margin-right: 20px;
    height: 250px;
}

.card-image {
    height: 250px;
    width: 538px;
}

p, label{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

a, h1, h5{
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 300;
    text-align: center;
    color: #182F2A;
    background-color: #b1c8c3;
}

.row {
    padding: 25px;
    background-color: #b1c8c3;
}
